doctype html
head
  title CanariApp
  link(rel="shortcut icon", href="/assets/images/favicon.ico")
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui")
  link(rel="stylesheet", href="/assets/style/main.css")

  block head
body
  .wrapper
    block content

  .footer
    a.btn(href="https://docs.google.com/spreadsheets/d/1El5lOQrH-X9GgPRxWpMFw7AAI4i7DMDDYnBFQ82io08/edit#gid=0", target="_blank") Contribute